VteTerminal,
TerminalScreen {
    padding: 0 4px;
    -VteTerminal-inner-border: 0 0px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 1px; /* same as headerbar side padding for nicer proportions */
    margin-bottom: 1px;
}

.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */
    padding: 1px
}

.default-decoration .titlebutton {
    min-height: 20px; /* tweak these two props to reduce button size */
    min-width: 20px;
}

window.ssd headerbar.titlebar {
  border: none;
  background-image: linear-gradient(to bottom,
  shade(@theme_bg_color, 1.05),
  shade(@theme_bg_color, 0.99));
  box-shadow: inset 0 1px shade(@theme_bg_color, 1.4);
}
